<html>
	<head>
		<title>{% block title %}Rika{% endblock %}</title>
		
		{% block head %}
			<link rel="stylesheet" href="http://cdn.staticfile.org/semantic-ui/0.12.0/css/semantic.min.css" type="text/css" charset="utf-8">
			
			<link rel="stylesheet" href="/css/layout.css" type="text/css" charset="utf-8">
			
			
		{% endblock %}
	</head>
	<body>
		<div class="ui page stackable grid">
			<div class="ui blue inverted menu">
				<a class="item" href="/"><strong>Rika</strong></a>
				<div class="right menu">
					<a class="item" href="/my">
						我的调查
					</a>
					<a class="item" href="/new">
						新调查
					</a>
				</div>
			</div>
			
			
			{% block content %} {% endblock %}
			<div class="sixteen wide column">
				<div class="ui divider"></div>
				<div class="ui center aligned basic segment">
					<em>Programmed By Edward Zhu (edward.zhu93#gmail.com)</em>
				</div>
			</div>
			
		</div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="http://cdn.staticfile.org/semantic-ui/0.12.0/javascript/semantic.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			$('.ui.checkbox')
		  	.checkbox();
		</script>
		<script src="/javascript/helper.js" type="text/javascript" charset="utf-8"></script>
		{% block js %} {% endblock %}
	</body>
</html>