{% extends "layout.html" %}

{% block title %}{% parent %} - {{survey.title}} 调查者{% endblock %}

{% block head %}
	
	<link rel="stylesheet" href="/css/survey.css" type="text/css" charset="utf-8">
	{% parent %}
{% endblock %}

{% block content %}
	<h2 class="ui header">
		{{ title }}
		<div class="sub header">调查者数据</div>
	</h2>
	<div class="sixteen wide column">
		<div class="ui red button" id="trim_action">清除十分钟内未完成的数据</div>
		<div class="ui basic right aligned segment">
			完成数 {{ finished }} / {{ total }}
		</div>
		<table class="ui table">
		  <thead>
		    <tr><th>Token</th>
		    <th>时间</th>
		    <th>状态</th>
		  </tr></thead>
		  <tbody>
				{% for token in tokens %}
		    <tr>
		      <td>{{ token.token }}</td>
		      <td id="date">{{ token.date.toString() }}</td>
		      <td>{{ token.state }}</td>
		    </tr>
				{% endfor %}
		  </tbody>
		</table>
		<input type="hidden" id="survey_id" value="{{ survey_id }}">
	</div>
{% endblock %}

{% block js %}
<script src="/javascript/moment-with-langs.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$("#trim_action").click(function () {
	$.post('/trim', {
		survey_id : $("#survey_id").val()
	}, function (data) {
		if (data.err === 0) {
			alert(data.msg);
			getStats();
		}
		else {
			alert("执行失败");
			// console.log(data.msg);
		}
	});
});
moment.lang("zh-CN");
$("td#date").each(function () {
	$(this).html(moment($(this).html()).fromNow());
});

</script>
{% endblock %}