body {
	background-image : url("/images/crossword.png");
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#loka {
	width : 96px;	
	position : absolute;
	right : 10%;	
	top : 10px;
}


#menu {
	padding-top: 60px;
}

.ui.small.form label {
	font-weight: bold;
}

.ui.small.form {
	/*font-size: 0.875em;*/
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0%; }
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0%; }
}
@-ms-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0%; }
}
@-moz-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0%; }
}


.masthead {
	margin-top:38px;
	padding: 50px 0px;
	background-image : url('/images/food.png');
	background-position : 0px 0px;
	background-repeat:repeat;
	animation: animatedBackground 30s linear infinite;
	-ms-animation: animatedBackground 30s linear infinite;
	-moz-animation: animatedBackground 30s linear infinite;
	-webkit-animation: animatedBackground 30s linear infinite;
	color: #FFF;
	text-align: center;
	border-radius: 10px;
	
	
}

.masthead header {
	font-size: 3em;
	font-weight: bold;
	text-shadow: 2px 2px 2px #CCC;
}

.masthead .introduction {
	padding-bottom: 10px;
	text-shadow: 2px 2px 2px #CCC;
}

