<div class="item" id="{{ _id }}">
	<div class="content">
		<div class="header">#{{ id }}</div>
		{{ question }}
	</div>
	<table class="ui compact table segment">
	  <thead>
	    <tr><th class="four wide">答案</th>
	  </tr></thead>
	  <tbody>
			{{#answers}}
	    <tr>
	      <td>{{ answer }}</td>
	    </tr>
			{{/answers}}
	  </tbody>
	</table>
	<div class="ui small pagination menu" id="page_menu">
		{{^first_page}}
	  <a class="item" id="prev">
	    <i class="icon left arrow"></i>上一页
		</a>
		{{/first_page}}
		<div class="item">{{ page }} / {{ total }}</div>
		{{^last_page}}
	  <a class="item" id="next">
	    下一页<i class="icon right arrow"></i>
	  </a>
		{{/last_page}}
	</div>
</div>
